*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #ffffff;
  }
  h1{
    text-align: center;
    color: #dd2a2a;
  }
  h3{
    text-align: center;
    color: #9e1010;
  }
  .user li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #190bda;
    border-radius: 10px;
    background-color: #2faa5e;
    cursor: pointer;
    width: 50%;
    transition: background-color 1s, box-shadow 0.3s; /* Added box-shadow to the transition */
  }
  
  .user li:hover {
    background-color: #c5c5c5;
    box-shadow: 0 0 10px rgb(221, 141, 141); /* Add shadow on hover */
  }
  
  .item {
    width: 80%;
    display: block;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000000;
    background-color:#10c6f3;
    color: #000000;
    cursor: pointer; 
    transition: background-color 1s, box-shadow 0.3s; 
  }
  .item:hover {
    background-color:white;
    color: rgb(5, 5, 5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }